[viewBag]

[Galleries Carousel]
maxItems = 20
itemId = 2
orderBy = "id"
sort = "desc"

==



<div class="tp-banner-container">
    <div class="tp-banner">
        <ul>  <!-- SLIDE  -->

            {% for params in Carousel.gallery.pictures %}
            <li data-transition="fade"
                data-slotamount="25"
                data-masterspeed="2500"
                data-thumb="{{ params.path }}"
                data-saveperformance="off">



                <!-- MAIN IMAGE -->
                <img src="{{ params.path }}"
                     alt="fullslide2"
                     data-bgposition="center center"
                     data-kenburns="on"
                     data-duration="12000"
                     data-ease="Power0.easeInOut"
                     data-bgfit="110"
                     data-bgfitend="100"
                     data-bgpositionend="center center">

                {% if loop.first %}
                <div class="tp-caption sfl background-01"
                     data-x="-330"
                     data-y="50"
                     data-speed="1800"
                     data-start="2000"
                     data-easing="Power3.easeOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.10"
                     data-endelementdelay="0.4"
                     data-endspeed="500"
                     data-endeasing="Power4.easeIn"
                     style=""></div>
                <!-- LAYER NR. Title 1 -->
                <div class="tp-caption lft div-text header-01"
                     data-x="center" data-hoffset="-170"
                     data-y="center" data-voffset="-240"
                     data-speed="1800"
                     data-start="3000"
                     data-easing="Power3.easeOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.10"
                     data-endelementdelay="0.4"
                     data-endspeed="500"
                     data-endeasing="Power4.easeIn"
                     style="">
                    {% content 'carousel/title-slide1.htm' %}
                </div>

                <div class="tp-caption lft div-text header-01"
                     data-x="center" data-hoffset="-120"
                     data-y="center" data-voffset="-200"
                     data-speed="1800"
                     data-start="2500"
                     data-easing="Power3.easeOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.10"
                     data-endelementdelay="0.4"
                     data-endspeed="500"
                     data-endeasing="Power4.easeIn"
                     style="">
                    {% content 'carousel/title2-slide1.htm' %}
                </div>

                <!-- LAYER NR. Content 1-->
                <div class="tp-caption  lfl div-text content-01"
                     data-x="center" data-hoffset="-220"
                     data-y="center" data-voffset="-140"
                     data-speed="1500"
                     data-start="2800"
                     data-easing="Power1.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300"
                     style="">
                    {% content 'carousel/content-slide1.htm' %}

                </div>

                <div class="lfr tp-caption div-text button-01"
                     data-x="center" data-hoffset="-400"
                     data-y="center" data-voffset="-33"
                     data-speed="2500"
                     data-start="2000"
                     data-easing="Power4.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="1000"
                     data-endeasing="Power1.easeOut"
                     style="">
                    <button type="button" class="btn btn-primary" style="">{{ 'Ir a diseño'|_ }}</button>
                </div>

                {% elseif loop.index == 2 %}
                <div class="tp-caption sft background-02"
                     data-x="center" data-hoffset="-200"
                     data-y="center" data-voffset="0"
                     data-speed="1900"
                     data-start="1000"
                     data-easing="Power3.easeOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.10"
                     data-endelementdelay="0.4"
                     data-endspeed="500"
                     data-endeasing="Power4.easeIn"></div>

                <div class="tp-caption lfl div-text header-02"
                     data-x="center" data-hoffset="-300"
                     data-y="center" data-voffset="-150"
                     data-speed="1800"
                     data-start="2000"
                     data-easing="Power3.easeOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.10"
                     data-endelementdelay="0.4"
                     data-endspeed="500"
                     data-endeasing="Power4.easeIn">
                    {% content 'carousel/title-slide2.htm' %}
                </div>



                <div class="tp-caption lfr div-text header-02"
                     data-x="center" data-hoffset="60"
                     data-y="center" data-voffset="-90"
                     data-speed="1800"
                     data-start="2000"
                     data-easing="Power3.easeOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.10"
                     data-endelementdelay="0.4"
                     data-endspeed="500"
                     data-endeasing="Power4.easeIn">
                    {% content 'carousel/title2-slide2.htm' %}
                </div>

                <div class="tp-caption sfl line-02"
                     data-x="center" data-hoffset="-40"
                     data-y="center" data-voffset="-50"
                     data-speed="1900"
                     data-start="3000"
                     data-easing="Power3.easeOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.10"
                     data-endelementdelay="0.4"
                     data-endspeed="500"
                     data-endeasing="Power4.easeIn">
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption lfb div-text content-02"
                     data-x="center" data-hoffset="-100"
                     data-y="center" data-voffset="30"
                     data-speed="1500"
                     data-start="2000"
                     data-easing="Power1.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300">
                    {% content 'carousel/content-slide2.htm' %}

                </div>

                <div class="tp-caption sfr icono-02"
                     data-x="center" data-hoffset="-200"
                     data-y="center" data-voffset="200"
                     data-speed="1500"
                     data-start="2500"
                     data-easing="Power1.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300">
                    <img src="{{ 'assets/images/icono-02.png'|theme }}" alt="" />
                </div>

                {% elseif loop.index == 3 %}
                <div class="tp-caption sfr background-03"
                     data-x="right" data-hoffset="50"
                     data-y="top" data-voffset="40"
                     data-speed="1900"
                     data-start="1000"
                     data-easing="Power3.easeOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.10"
                     data-endelementdelay="0.4"
                     data-endspeed="500"
                     data-endeasing="Power4.easeIn"></div>

                <div class="tp-caption lft div-text header-03"
                     data-x="center" data-hoffset="580"
                     data-y="center" data-voffset="-245"
                     data-speed="3500"
                     data-start="3000"
                     data-easing="Power3.easeOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.10"
                     data-endelementdelay="0.4"
                     data-endspeed="500"
                     data-endeasing="Power4.easeIn">
                    {% content 'carousel/title-slide3.htm' %}
                </div>



                <div class="tp-caption lft div-text header-03"
                     data-x="center" data-hoffset="480"
                     data-y="center" data-voffset="-190"
                     data-speed="3500"
                     data-start="2500"
                     data-easing="Power3.easeOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.10"
                     data-endelementdelay="0.4"
                     data-endspeed="500"
                     data-endeasing="Power4.easeIn">
                    {% content 'carousel/title2-slide3.htm' %}
                </div>

                <div class="tp-caption lft div-text header-03"
                     data-x="center" data-hoffset="355"
                     data-y="center" data-voffset="-140"
                     data-speed="3500"
                     data-start="2000"
                     data-easing="Power3.easeOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.10"
                     data-endelementdelay="0.4"
                     data-endspeed="500"
                     data-endeasing="Power4.easeIn">
                    {% content 'carousel/title3-slide3.htm' %}
                </div>

                <div class="tp-caption sfr background-03-02"
                     data-x="center" data-hoffset="545"
                     data-y="center" data-voffset="50"
                     data-speed="1900"
                     data-start="3000"
                     data-easing="Power3.easeOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.10"
                     data-endelementdelay="0.4"
                     data-endspeed="500"
                     data-endeasing="Power4.easeIn">

                </div>

                <div class="tp-caption lfb div-text content-03"
                     data-x="center" data-hoffset="550"
                     data-y="center" data-voffset="0"
                     data-speed="1500"
                     data-start="3500"
                     data-easing="Power1.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300">
                    {% content 'carousel/content-slide3.htm' %}

                </div>

                <div class="tp-caption sfr icono-03"
                     data-x="center" data-hoffset="550"
                     data-y="center" data-voffset="200"
                     data-speed="1500"
                     data-start="4000"
                     data-easing="Power1.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300">
                    <img src="{{ 'assets/images/icono-03.png'|theme }}" alt="" />
                </div>

                {% elseif loop.last %}
                <div class="tp-caption sfr background-04"
                     data-x="center" data-hoffset="0"
                     data-y="center" data-voffset="-40"
                     data-speed="1900"
                     data-start="1000"
                     data-easing="Power3.easeOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.10"
                     data-endelementdelay="0.4"
                     data-endspeed="500"
                     data-endeasing="Power4.easeIn"></div>

                <div class="tp-caption lft div-text header-04"
                     data-x="center" data-hoffset="0"
                     data-y="center" data-voffset="-180"
                     data-speed="1800"
                     data-start="1500"
                     data-easing="Power3.easeOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.10"
                     data-endelementdelay="0.4"
                     data-endspeed="500"
                     data-endeasing="Power4.easeIn">
                    {% content 'carousel/title-slide4.htm' %}
                </div>

                <div class="tp-caption sfl line-04"
                     data-x="center" data-hoffset="0"
                     data-y="center" data-voffset="-130"
                     data-speed="1900"
                     data-start="2000"
                     data-easing="Power3.easeOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.10"
                     data-endelementdelay="0.4"
                     data-endspeed="500"
                     data-endeasing="Power4.easeIn">
                </div>

                <div class="tp-caption lfr div-text content-04"
                     data-x="center" data-hoffset="0"
                     data-y="center" data-voffset="-40"
                     data-speed="1500"
                     data-start="2000"
                     data-easing="Power1.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300">
                    {% content 'carousel/content-slide4.htm' %}

                </div>

                <div class="tp-caption sfb icono-04"
                     data-x="center" data-hoffset="0"
                     data-y="center" data-voffset="100"
                     data-speed="1500"
                     data-start="2300"
                     data-easing="Power1.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300">
                    <img src="{{ 'assets/images/icono-02.png'|theme }}" alt="" />
                </div>


                {% endif %}

            </li>

            {% endfor %}

        </ul>
    </div>
</div>



{% put scripts %}
<script type="text/javascript">

    //Rs-PLUGIN
    jQuery(document).ready(function() {

        jQuery('.tp-banner').show().revolution(
                {
                    dottedOverlay:"none",
                    delay:16000,
                    startwidth:1170,
                    startheight:670,
                    hideThumbs:200,

                    thumbWidth:100,
                    thumbHeight:50,
                    thumbAmount:5,

                    navigationType:"none",
                    navigationArrows:"solo",
                    navigationStyle:"preview4",

                    touchenabled:"on",
                    onHoverStop:"off",

                    swipe_velocity: 0.7,
                    swipe_min_touches: 1,
                    swipe_max_touches: 1,
                    drag_block_vertical: false,
                    parallax:"mouse",
                    parallaxBgFreeze:"on",
                    parallaxLevels:[7,4,3,2,5,4,3,2,1,0],

                    keyboardNavigation:"off",

                    navigationHAlign:"center",
                    navigationVAlign:"bottom",
                    navigationHOffset:0,
                    navigationVOffset:20,

                    soloArrowLeftHalign:"left",
                    soloArrowLeftValign:"center",
                    soloArrowLeftHOffset:20,
                    soloArrowLeftVOffset:0,

                    soloArrowRightHalign:"right",
                    soloArrowRightValign:"center",
                    soloArrowRightHOffset:20,
                    soloArrowRightVOffset:0,

                    shadow:0,
                    fullWidth:"on",
                    fullScreen:"off",

                    spinner:"spinner4",

                    stopLoop:"off",
                    stopAfterLoops:-1,
                    stopAtSlide:-1,

                    shuffle:"off",

                    autoHeight:"off",
                    forceFullWidth:"off",



                    hideThumbsOnMobile:"off",
                    hideNavDelayOnMobile:1500,
                    hideBulletsOnMobile:"off",
                    hideArrowsOnMobile:"off",
                    hideThumbsUnderResolution:0,

                    hideSliderAtLimit:0,
                    hideCaptionAtLimit:800,
                    hideAllCaptionAtLilmit:800,
                    startWithSlide:0,
                    videoJsPath:"rs-plugin/videojs/",
                    fullScreenOffsetContainer: ""
                });




    });

</script>
{% endput %}