<div class="footer-container">
    <div class="footer-row">
            <div class="footer-item">
                <div class="footer-logo">
                    <a href="index.html">
                        <h1>Creative</h1>
                    </a>
                </div>
                <p>I could describe these conceptions, could impress upon paper all that is living so full and warm existence in this spot, which was created for the bliss of souls like mine</p>
                <span class="hr-row"></span>
            </div>
    </div>
    <div class="footer-row">
        <div class="footer-item">
            <div class="footer-title">Have questions?</div>
            <p>Warehouse &amp; Offices <br>
                12345 Street name,  California, USA <br>
                0123 456 789 / 0123 456 788 <br>
                infoservices@minimo.com </p>
            <div class="social-icon">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-row">
        <div class="footer-item">
            <span class="hr-row"></span>
            <div class="footer-link">
                <ul>
                    <li><a href="index.html">Home </a></li>
                    <li><a href="about-1.html">About</a></li>
                    <li><a href="work-2col.html">Work</a></li>
                    <li><a href="team.html">Team</a></li>
                    <li><a href="pricing.html">Pricing</a></li>
                    <li><a href="blog-2col-sidebar.html">Blog</a></li>
                    <li><a href="contact-1.html">Contact</a></li>
                </ul>
            </div>
            <div class="copyright-part"> Copyright - Created by Momento Eureka</div>
        </div>
    </div>
</div>