<div class="header-page-container">
    <div class="header-page-row">
        <div class="header-page-title-col">
            <div class="padding-b">
                <div class="heading-part mt-40">
                    {% if page == 'about' %}
                        {% content 'about/title' %}
                    {% elseif page == 'works' %}
                        {% content 'works/title' %}
                    {% elseif page == 'work' %}
                        <h1 class="">{{ Project.project.name }}</h1>
                    {% elseif page == 'news' %}
                        {% content 'news/title' %}
                    {% endif %}
                    {% partial 'common/breadcrumb' %}
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>  