{% partial 'ProjectCategories::toolbar' %}
<div class="grid">
    <div class="grid">
        <div class="isotope {{ class }}">
            {% component 'Projects' %}
        </div>
    </div>
</div>

{% put scripts %}
<script type="text/javascript">
    $(window).load(function() {
        // init Isotope
        var $container = $('.isotope').isotope({
            itemSelector: '.grid-item',
            layoutMode: 'fitRows',
            getSortData: {

            }
        });

        // bind filter click

        $('.portfolio-filter').on('click', 'li a', function() {
            var filterValue = $(this).attr('data-filter');
            // use filterFn if matches value
            $container.isotope({
                filter: filterValue
            });
        });

    });
</script>
{% endput %}