title = "work"
url = "/works/work/:slug"
layout = "default"
description = "Work Detail Page"
is_hidden = 0
child_of = "works/works"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[Projects]
pageNumber = "{{ :page }}"
projectsPerPage = 10
noProjectsMessage = "No projects found"
sortOrder = "published_at desc"
projectCategoryPage = "works/project-categories"
projectPage = "works/work"

[Project]
maxItems = 20
slug = "{{ :slug }}"
projectCategoryPage = "works/project-categories"
orderBy = "id"
sort = "desc"
==
<div class="padding-b">
    {% partial 'common/header-page' page='work' %}

    {% set project = Project.project %}

<section>
    {% if project.pictures.count > 0 %}
    <div class="portfolio owl-carousel owl-theme">
        {% for picture in project.pictures %}
        <div class="item">
            <img src="{{ picture.getPath() }}" alt="{{ picture.title }}" class="img-fluid">
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="portfolio">
        <div class="item">
            <img src="{{ project.picture.getPath() }}" alt="{{ picture.title }}" class="img-fluid">
        </div>
    </div>
    {% endif %}
    <!-- /.project owl-slider -->
</section>

<section class="portfolio padding-45">
    <div class="portfolio-row">
        <div class="portfolio-content">
            <div class="heading">
                <h3>{{ project.name }}</h3>
            </div>

            {{ project.description|raw }}

        </div>

        <div class="portfolio-sidebar">

            <h4>{{ 'Client'|_ }}</h4>
            <p>{{ project.customer }}</p>

            <h4>{{ 'Categories'|_ }}</h4>

            {% set projectCategories = project.project_categories %}
            {% set categoryNames = "" %}
            {% for category in projectCategories %}
            {% if not loop.last %}
            {% set categoryNames = categoryNames ~ category.name ~ ', ' %}
            {% else %}
            {% set categoryNames = categoryNames ~ category.name %}
            {% endif %}
            {% endfor %}
            <p>{{ categoryNames }}</p>

            {% set services = project.services %}
            {% if services.count > 0 %}
            <h4>{{ 'Services'|_ }}</h4>
            {% set serviceNames = "" %}
            {% for service in services %}
            {% if not loop.last %}
            {% set serviceNames = serviceNames ~ service.name ~ ", " %}
            {% else %}
            {% set serviceNames = serviceNames ~ service.name %}
            {% endif %}
            {% endfor %}
            <p>{{ serviceNames }}</p>
            {% endif %}


            {% set technologies = project.technologies %}
            {% if technologies.count > 0 %}
            <h4>{{ 'Technologies'|_ }}</h4>
            {% set techNames = "" %}
            {% for tech in technologies %}
            {% if not loop.last %}
            {% set techNames = techNames ~ tech.name ~ ", " %}
            {% else %}
            {% set techNames = techNames ~ tech.name %}
            {% endif %}
            {% endfor %}
            <p>{{ techNames }}</p>
            {% endif %}
            <h4>{{ 'Dates'|_ }}</h4>
            <p>{{ project.published_at|date('d-m-Y') }}</p>
        </div>

    </div>
</section>


</div>

{% put scripts %}
<script type="text/javascript">
    $(document).ready(function(){
        $('body').addClass('without-background nav-lock-scroll');
        $('.owl-carousel').owlCarousel({
            items: 1,
            loop: true,
            center: true,
            nav: true,
            dots: true,
            autoplay: true
        });
    });
</script>
{% endput %}