description = "All javascript theme"

[viewBag]
==
<!-- Scripts -->
<!--<script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script> Tether for Bootstrap -->
{% component 'googleTracker' %}
<script src="{{ [
    'assets/js/jquery.js',
    'node_modules/tether/dist/js/tether.min.js',
    'node_modules/owl.carousel/dist/owl.carousel.min.js',
    'assets/js/bootstrap.min.js',
    'assets/js/classie.js',
    'assets/js/pathLoader.js',
    'node_modules/isotope-layout/dist/isotope.pkgd.min.js',
    'assets/js/app.js'
]|theme }}"></script>

<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>

{% framework extras %}
{% scripts %}

