<div class="contact-row no-margin">

    <div class="contact-info-col no-padding">

        <div class="contact-box">

            <i class="fa fa-phone fa-2x"></i>

            {% content 'contact/phone' %}

        </div>

    </div>

    <div class="contact-info-col no-padding">

        <div class="contact-box">

            <i class="fa fa-envelope fa-2x"></i>

            {% content 'contact/mail' %}

        </div>

    </div>

    <div class="contact-info-col no-padding">

        <div class="contact-box">

            <i class="fa fa-home fa-2x"></i>

            {% content 'contact/open' %}

        </div>

    </div>

</div>