description = "Home Projects list"

[viewBag]
snippetCode = "portfolio-home"
snippetName = "Home Portfolio"

[ProjectCategories]
slug = "{{ :slug }}"
displayEmpty = 0
projectCategoryPage = "portfolio/category"

[Projects]
pageNumber = "{{ :page }}"
projectsPerPage = 10
noProjectsMessage = "No projects found"
sortOrder = "published_at desc"
projectCategoryPage = "portfolio/category"
projectPage = "portfolio/project"
==
<section class="portfolio padding-75">
    <div class="portfolio-row">
        <div class="portfolio-title">
            <h2 class="main_title">{{ 'Our Creative Work'|_ }}</h2>
        </div>
    </div>
    {% partial 'common/portfolio' class="three-col-work zoom-gallery" %}
</section>