.contact-container {
  @include make-container();
  @include make-container-max-widths();
}

.contact-row {
  @include make-row();
}

.contact-info-col{
  @include make-col();

  @include media-breakpoint-up(sm){
    @include make-col-span(4);
  }

  > .no-padding{
    border-right: 1px solid $gray-lightest;
    &:last-child {
      border: none;
    }
  }
}

.contact-form-full {
  @include make-col();

  @include media-breakpoint-up(xs){
    @include make-col-span(12);
  }

  textarea {
    background: $gray-lightest;
    padding: $spacer/2 $spacer;
    width: 100%;
    border: none;
  }
}

.contact-form-half {
  @include make-col();

  @include media-breakpoint-up(sm){
    @include make-col-span(6);
  }
  input {
    background: $gray-lightest;
    padding: $spacer/2 $spacer;
    width: 100%;
    border: none;
  }

}

#submit {
  text-align: center;
}

.contact-box {
  span {
    display: inline-block;
    font-size: $font-size-base;
    color: $gray-dark;
    line-height: 1.1;
    margin-bottom: $spacer;
    width: 100%;
  }
  text-align: center;

}