header {
  background: none repeat scroll 0 0 $header-bg-light;
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 0;
  max-height: $header-height;
  min-height: $header-height-sm;

  &.sticky{
    background: $header-bg-dark;
  }

  .container-fluid {
    padding: 0;
  }

}

.header-title-row {
  @include make-row();
  max-height: $header-height;
  min-height: $header-height-sm;

}

.title-column {
  @include make-col();

  @include media-breakpoint-up(xs){
    @include make-col-span(5);
    margin-left: $header-height;
    margin-top: 4px;
    padding-top: 10px;
    height: $header-height-sm;
  }

  @include media-breakpoint-up(sm){
    @include make-col-span(7);
  }

  @include media-breakpoint-up(md){
    @include make-col-span(5);
    height: $header-height;
    margin-left: $header-title-m;
    padding-top: $header-title-p;
  }

  h1{
    font-family: $font-family-header;
    color:$gray-lightest;
  }
}

.search-shop-column {
  @include make-col();

  @include pull-right;

  @include media-breakpoint-up(xs){
    @include make-col-span(4);
    .search {
      display: none;
    }
    ul{
      margin-bottom: 0;
    }
  }

  @include media-breakpoint-up(sm){
    @include make-col-span(3);
  }

  @include media-breakpoint-up(md){
    @include make-col-span(5);
    .search {
      display: inline-block;
    }

  }

  > ul {
    > li {
      display: inline-block;
      > a {
        padding: $brand-sprite-p;
        display: block;
        border-left: $header-border-button;
        @include media-breakpoint-down(sm){
          padding: $brand-sprite-p-sm;
        }
        > span{
          background: $brand-sprite-url no-repeat scroll 0 0;
          display: block;
          height: $brand-sprite-h;
          width: $brand-sprite-w;
        }
      }
    }
  }
  .shop span {
    background-position: -$brand-sprite-spacer 0;
  }
}